@import url('https://fonts.googleapis.com/css?family');
/*
{ 
    margin: 0;
    padding:0;
    color: aliceblue;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}*/
body
{
background-image: url("8.jpg");
}
nav
{
    background: #1b1b1b;
}
nav:after
{
content: '';
clear: both;
display: table;
}
nav ul
{
float: right;
list-style: none;
margin-right: 40px;
position: relative;
}
nav .logo
{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;

}
nav ul li
{

display: inline-block;
background: #1b1b1b;
margin: 0 5px;
}
nav ul li a
{
color: white;
text-decoration: none;
line-height: 70px;
font-size: 18px;
padding: 8px 15px;
}
nav ul li a:hover
{
box-shadow: 0 0 5px #33ffff,
0 0 5px #66ffff;
border-radius: 5px;
color: cyan;
border: none;
}
nav ul ul 
{
position: absolute;
top: 90px;
opacity: 0;
visibility: hidden;
transition: top .4s;
}
nav ul li:hover>ul
{
opacity: 1;
top: 70px;
visibility: visible;
}
nav ul ul ul
{
    border-top: none;
}
nav ul ul li
{
position: relative;
margin: 0px;
width: 150px;
/* float:left; */
border-top:3px solid cyan  ;
display:list-item;
border-bottom: 1px solid rgba(0,0,0,0.3);

}
nav ul ul ul li
{
position: relative;
top: -70px;
left: 150px;
}
nav ul ul li a
{
line-height: 50px;
display: block;
border: cyan;
}
nav ul ul li a:hover
{
    color: cyan;
    box-shadow: 0 0 5px #33ffff;;
    padding-left: 10px;
    position: relative;
}
.fa-plus
{
    margin-left: 40px;
    font-size: 15px;

}

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
list-style: none;
}
body{
    /* background: #f0f0f0; */
}
.footer
{
margin: 10px;
background:#fff;
}
.footer.footer_top
{
padding: 25px 50px;
border-bottom: 2px solid #f5f5f5;
}
.footer .footer_down .createdby
{
    color: #fa4e5c;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 2px;
}
.footer .footer_top .footer_item
{
    padding-left: 50px;
    float:left;
    
}
.footer .footer_top .footer_item.footer_item_1
{
padding: 0;
}
.footer .footer_top .footer_item.footer_item_1,
.footer .footer_top .footer_item.footer_item_4
{
width: 30%;
}
.footer .footer_top .footer_item.footer_item_2,
.footer .footer_top .footer_item.footer_item_3
{
width: 20%;
}
.footer .footer_top .footer_item h3
{
    margin-bottom: 15px;
}
.footer .footer_top .footer_item p.title
{
    font-size:18px;
    margin-bottom: 10px;
    cursor: pointer;
    /* border: black solid 2px; */
    margin-right: 55%;
}
.footer .footer_top .footer_item p.title span
{
display: block;
font-size: 12px;
color: #ececec;
margin-top: 3px;
}
.footer .footer_top .footer_item p.title:hover,
.footer .footer_top .footer_item ul li:hover
{
    color: orangered;
}
.footer .footer_top .footer_item ul li
{
    margin: 5px 0;
    margin-right:70%;
    cursor: pointer;
    /* border: 2px solid black;  */
}
.footer .footer_top .footer_item .aboutus
{
    font-size: 14px;
    line-height:
}
@media screen and (max-width: 980px)
{
    .footer .footer_top .footer_item{
        margin-bottom: 25px;
        padding:0;
    }
    .footer .footer_top .footer_item.footer_item_1,
    .footer .footer_top .footer_item.footer_item_4
{
width: 100%;
}
.footer .footer_top .footer_item.footer_item_2,
.footer .footer_top .footer_item.footer_item_3
{
width: 50%;
}
}
@media screen and (max-width: 720px)
{
    .footer.footer_down{
        flex-direction: column;
    }
    .footer .footer_down{
        margin-bottom: 15px;
        padding-left:10px;
        text-align: center;
    }
    .footer .footer_top .footer_item.footer_item_2,
.footer .footer_top .footer_item.footer_item_3
{
    width: 100%;
}
nav ul li
{
position: relative;
display: flex;
}
}